@import "./variables";
@import "./containers";

.header {
  height: 60px;
}

.nav-links {
  @media screen and (max-width: $breakpoint-medium) {
    display: none;
  }
}

.header-menu {
  display: none;
  @media screen and (max-width: $breakpoint-medium) {
    display: initial;
  }
}

.nav-item {
  display: flex;
  @include spacing(center, center);
  height: 60px;
  width: 60px;
  color: $bodyText;
  font-size: 22px;
  &.hidden {
    display: none;
  }
  cursor: pointer;
}

.mobile-menu {
  height: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &.expanded {
    height: 100px;
    opacity: 1;
  }
}
