// Colors
$primary: #4c00ff;
$accent: #0099ff;
$white: #ffffff;
$black: #000000;
$blue: #006eff;
$orange: #ff5e00;
$pink: #f85ffd;
$green: #18cf00;
$background: #121212;
$altBackground: #222222;
$text: #ffffff;
$bodyText: #999999;
$border: #444444;
$highlight: #333333;

// Breakpoints
$breakpoint-small: 0px;
$breakpoint-small: 450px;
$breakpoint-medium: 960px;
$breakpoint-large: 1280px;
$breakpoint-xl: 1920px;
