// Colors
$primary: #4c00ff;
$accent: #0099ff;
$white: #ffffff;
$black: #000000;
$blue: #006eff;
$orange: #ff5e00;
$pink: #f85ffd;
$green: #18cf00;
$background: #ffffff;
$altBackground: #f7f7f7;
$text: #000000;
$bodyText: #777777;
$border: #d3d3d3;
$highlight: #f2f2f2;

// Breakpoints
$breakpoint-small: 0px;
$breakpoint-medium: 768px;
$breakpoint-large: 1280px;
$breakpoint-xl: 1920px;
