@import "./variables";
@import "./fonts";

.toolbox-info {
  max-width: 750px;
  align-self: center;
  opacity: 0;
}

.skills {
  flex-wrap: wrap;
  overflow: hidden;
  background-image: linear-gradient($primary, $primary 30%, $white 30%, $white);
}

.skill-card {
  flex: 1;
  background-color: $white;
  overflow-y: hidden;
  margin: 0.5em 0.5em;
  @media screen and (max-width: $breakpoint-medium) {
    transform: translateY(500px);
    min-width: 100%;
  }
  @media screen and (min-width: $breakpoint-large) {
    transform: translateX(1000px);
  }
  @media screen and (min-width: $breakpoint-medium) {
    min-width: 400px;
    max-width: 500px;
  }

  &.active {
    transition: transform ease 1s;
    @media screen and (min-width: $breakpoint-xs) {
      transform: translateY(0);
    }
    @media screen and (min-width: $breakpoint-large) {
      transform: translateX(0);
    }
  }
}

.skill-card-content {
  height: 552px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px; // offset card margin
}

.skill-card-header {
  flex: 0 1 auto;
  border-color: #d3d3d3 !important;
}

.skills-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
  margin: 0px 2.5px 0px 2.5px;
  padding: 0px 10px 0px 10px;
}

.skill-item {
  height: 70px;
  border-color: #d3d3d3 !important;
}

.skill-item-title {
  font-size: 16px;
  color: $black;
  font-weight: 500;
}

.databases {
  flex-wrap: wrap;
  transform: translateY(200px);
  opacity: 0;
  &.active {
    transition: ease 1.5s;
    opacity: 1;
    transform: translateY(0);
  }
}

.db {
  flex: 1;
  height: 500px;
  min-width: 300px;
  max-width: 600px;
  margin: 0 5px 0 5px;
  @media screen and (max-width: $breakpoint-medium) {
    height: auto;
  }
}

.db-header {
  width: 100%;
  color: $black;
}

.db-content {
  height: 100%;
}

.db-experience {
  font-size: 20px;
  font-weight: 200;
  color: #555555;
  margin: 25px 0 25px 0;
}

.db-experience-section-header {
  font-size: 14px;
  font-weight: 200;
  margin: 5px 0 10px 0;
}
