html,
body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: #121212;
}

.error {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 0px) {
  .oops {
    font-size: 52px;
  }
}

@media screen and (min-width: 960px) {
  .oops {
    font-size: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .oops {
    font-size: 72px;
  }
}

.info {
  font-size: 18px;
  font-weight: 200;
  max-width: 300px;
}

@font-face {
  font-family: "Balsamiq Sans";
  font-style: normal;
  font-weight: 700;
  src: local("BalsamiqSans Bold"), local("BalsamiqSans-Bold"), url("../fonts/BalsamiqSans/BalsamiqSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

html.wf-loading * {
  opacity: 0;
}

.large-icon {
  font-size: 24px;
}

p {
  margin: 0px;
  font-family: "Note Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  line-height: 32px;
}

.text {
  color: #ffffff;
}

.primary-text {
  margin: 0px;
  color: #4c00ff;
}

.accent-text {
  margin: 0px;
  color: #0099ff;
}

.body-text {
  color: #777777;
}

.white-text {
  color: #ffffff;
}

.black-text {
  color: #000000;
}

.blue-text {
  color: #006eff;
}

.pink-text {
  color: #f85ffd;
}

.green-text {
  color: #18cf00;
}

.orange-text {
  color: #ff5e00;
}

.text-center {
  text-align: center;
}

h1 {
  margin: 10px 0px 10px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #ffffff;
}

h2 {
  margin: 10px 0px 10px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

h3 {
  margin: 5px 0px 5px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

h4 {
  margin: 5px 0px 5px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

h5 {
  margin: 5px 0px 5px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

h6 {
  margin: 5px 0px 5px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.upper-case {
  text-transform: uppercase !important;
}

.body-text-1 {
  font-family: "Note Sans", sans-serif;
  font-size: 16px;
  color: #777777;
}

.body-text-2 {
  font-family: "Note Sans", sans-serif;
  font-size: 14px;
  color: #777777;
}

html,
body {
  margin: 0;
  background-color: #121212;
  overflow-x: hidden;
}

.section {
  overflow: hidden;
  padding: 2.5%;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexr-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flexc-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.j-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.j-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.j-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.a-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.a-between {
  -webkit-box-align: space-between !important;
      -ms-flex-align: space-between !important;
          align-items: space-between !important;
}

.a-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.a-around {
  -webkit-box-align: space-around !important;
      -ms-flex-align: space-around !important;
          align-items: space-around !important;
}

.rounded {
  border-radius: 5px;
}

.alt-background {
  background-color: #222222;
}

.background {
  background-color: #121212;
}

.highlight {
  background-color: #333333;
}

.primary {
  background-color: #4c00ff;
}

.accent {
  background-color: #0099ff;
}

.white {
  background-color: #ffffff;
}

.black {
  background-color: #000000;
}

.blue {
  background-color: #006eff;
}

.pink {
  background-color: #f85ffd;
}

.orange {
  background-color: #ff5e00;
}

.green {
  background-color: #18cf00;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 15px;
}

.p-3 {
  padding: 25px;
}

.p-4 {
  padding: 50px;
}

.p-h-1 {
  padding: 0px 10px 0px 10px;
}

.p-h-2 {
  padding: 0px 15px 0px 15px;
}

.p-h-3 {
  padding: 0px 25px 0px 25px;
}

.p-v-1 {
  padding: 10px 0px 10px 0px;
}

.p-v-2 {
  padding: 15px 0px 15px 0px;
}

.p-v-3 {
  padding: 25px 0px 25px 0px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 15px;
}

.m-3 {
  margin: 25px;
}

.m-4 {
  margin: 50px;
}

.m-h-1 {
  margin: 0px 10px 0px 10px;
}

.m-h-2 {
  margin: 0px 15px 0px 15px;
}

.m-h-3 {
  margin: 0px 25px 0px 25px;
}

.m-v-1 {
  margin: 10px 0px 10px 0px;
}

.m-v-2 {
  margin: 15px 0px 15px 0px;
}

.m-v-3 {
  margin: 25px 0px 25px 0px;
}

.m-v-4 {
  margin: 50px 0px 50px 0px;
}

.shadow {
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}

html,
body {
  margin: 0;
  background-color: #121212;
  overflow-x: hidden;
}

.section {
  overflow: hidden;
  padding: 2.5%;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexr-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flexc-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.j-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.j-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.j-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.a-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.a-between {
  -webkit-box-align: space-between !important;
      -ms-flex-align: space-between !important;
          align-items: space-between !important;
}

.a-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.a-around {
  -webkit-box-align: space-around !important;
      -ms-flex-align: space-around !important;
          align-items: space-around !important;
}

.rounded {
  border-radius: 5px;
}

.alt-background {
  background-color: #222222;
}

.background {
  background-color: #121212;
}

.highlight {
  background-color: #333333;
}

.primary {
  background-color: #4c00ff;
}

.accent {
  background-color: #0099ff;
}

.white {
  background-color: #ffffff;
}

.black {
  background-color: #000000;
}

.blue {
  background-color: #006eff;
}

.pink {
  background-color: #f85ffd;
}

.orange {
  background-color: #ff5e00;
}

.green {
  background-color: #18cf00;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 15px;
}

.p-3 {
  padding: 25px;
}

.p-4 {
  padding: 50px;
}

.p-h-1 {
  padding: 0px 10px 0px 10px;
}

.p-h-2 {
  padding: 0px 15px 0px 15px;
}

.p-h-3 {
  padding: 0px 25px 0px 25px;
}

.p-v-1 {
  padding: 10px 0px 10px 0px;
}

.p-v-2 {
  padding: 15px 0px 15px 0px;
}

.p-v-3 {
  padding: 25px 0px 25px 0px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 15px;
}

.m-3 {
  margin: 25px;
}

.m-4 {
  margin: 50px;
}

.m-h-1 {
  margin: 0px 10px 0px 10px;
}

.m-h-2 {
  margin: 0px 15px 0px 15px;
}

.m-h-3 {
  margin: 0px 25px 0px 25px;
}

.m-v-1 {
  margin: 10px 0px 10px 0px;
}

.m-v-2 {
  margin: 15px 0px 15px 0px;
}

.m-v-3 {
  margin: 25px 0px 25px 0px;
}

.m-v-4 {
  margin: 50px 0px 50px 0px;
}

.shadow {
  -webkit-box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
          box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}

.header {
  height: 60px;
  z-index: 100;
}

.header-logo {
  width: auto;
}

@media screen and (min-width: 0px) {
  .header-logo {
    height: 25px;
  }
}

@media screen and (min-width: 960px) {
  .header-logo {
    height: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo {
    height: 50px;
  }
}

@media screen and (max-width: 960px) {
  .nav-links {
    display: none;
  }
}

.header-menu {
  display: none;
}

@media screen and (max-width: 960px) {
  .header-menu {
    display: initial;
  }
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  color: #777777;
  font-size: 22px;
  cursor: pointer;
}

.nav-item.hidden {
  display: none;
}

.mobile-menu {
  height: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mobile-menu.expanded {
  height: 100px;
  opacity: 1;
}

@media screen and (min-width: 960px) {
  .mobile-menu {
    display: none;
  }
}
/*# sourceMappingURL=error.css.map */